@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,700,700i&display=swap');

html,
.root {
  font-size: 16px;
  line-height: 24px;
}
body,
.article {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
  font-weight: 300;
  color: #24221f;
}
h1,
.h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #002757;
}
h2,
.h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #e00049;
}
h3,
.h3 {
  font-size: 1.5625rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
  color: #002757;
  text-transform: uppercase;
}
h4,
.h4,
.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #e00049;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
}
h6,
.h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
  font-style: italic;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.img-responsive {
  max-width: 100%;
}
header {
  text-align: center;
  background: linear-gradient(rgba(0, 39, 87, 0.75), rgba(0, 39, 87, 0.75)),
    url(/images/afbeeldingGroot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header .row {
  height: 800px;
}

header h1 {
  color: white;
}
nav.top-nav a {
  color: #e00049;
  padding: 10px 20px;
  transition: background-color 0.3s ease-out;
}
nav.top-nav a:hover {
  color: #fff;
  background-color: #002757;
  text-decoration: none;
}

.card-deck .card.custom-card {
  min-width: 320px;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #002757;
  padding: 10px 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border: 2px solid #002757;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #002757;
  color: #002757;
}

footer {
  padding: 50px 0;
  color: #fff;
  font-size: 0.8em;
  background-color: #002757;
  border-bottom: 4px solid #e00049;
}

footer a {
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  width: 7%;
  margin: 0 auto;
  border: 2px solid #e00049;
  margin-bottom: 40px;
}
.mtop {
  margin-top: 100px;
}
.mbottom {
  margin-bottom: 100px;
}
.cta {
  background-color: #e00049;
  min-height: 300px;
  padding: 75px;
}
.cta h6 {
  color: white;
}
.padding {
  padding: 10px;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #e00049;
  margin-top: 0;
}
.tekstblauw {
  color: #002757;
}
.tekstzwart {
  color: #24221f;
}
.footertext,
.footertextright {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin: auto;
  font-weight: 300;
  color: #white;
}
.footertextright {
  text-align: right;
}
